.container1{
  background-color: #192032;
  position: absolute;
  height: 100%;
  /*overflow-y: scroll;*/
  /* width: 82%; */
  margin-top: 100px;
  /* margin-left: 17%; */
  margin-left: 78px;
  display: grid;
  gap:0.8rem;
}

.first_contain1{
  display: flex;
  flex-wrap: wrap;
  gap:0.8rem;
  margin:1px;
}


.sub_first_contain1{
  padding: 20px;
  /* width: 75rem; */
  margin:30px;
height: 60vh;
border-radius: 5px;
background-color: #222840;
display: flex;
flex-wrap: nowrap;
gap:0.8rem;



  
}
.title_container1{
  margin:15px;
  width:100%;
  
}

.title_contain1 h3{
  color:#b9caed;
}
.title_contain1 p{
  color:#b9caed;
  font-weight:500;
}

#lable1{
    color:#b9caed;
    font-size: 16px;
    font-weight: bold;
    margin-right: 100px;
}

#addfund{
    background-color: #192032;
    border: 2px solid #b9caed5b;
    border-radius: 7px;
    width: 900px;
    height: 30px;
    color:white;
}
#addfund:focus{
    border-color: #b9caed;
}

#submitbtn{
  display:block; 
  margin: 0 auto;
  color: #fff;
  padding: 15px;
  width:100px;
  border-radius: 10px;
  font-size: 15px;
  border:none;
  text-align: center;
   cursor: pointer;
    background-color: rgb(8, 64, 177) !important;
    border-color: rgb(8, 64, 177) !important;
}  
.icon_container{
  margin-top: 30px;
  margin-left: 13px;
}

.png_size{
  width: 60px;
  height: 60px;
}
.png_size1{
  width: 80px;
  height: 80px;
}


