.pass_ipbox {
  background-color: #191e31;
  border: 1px solid #383d54;
  padding: 0.5rem 1rem;
  color: #8698b1;
  font-size: 16px;
  width: 100%;
}
.pass_list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 1rem;
}
.title {
  width: 200px;
  color: #8698b1;
  font-weight: 600;
  font-size: 20px;
}
.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit_btn {
  background-color: #023ea8;

  border: none; 
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}
