.directdiv{
    width: 92%;
    height: 400px;
    /* margin: 20px auto; */
    /* background-color: blue; */
    background-color: #2a3542;
   color: #b9caed;;

  position: absolute;
  margin-top: 150px;
  box-sizing: border-box;
  margin-left: 78px;
  padding: 10px;
}

.directdiv select{
    width: 80px;
    height: 30px;
    border: 1px solid white;
    border-radius: 8px;
}

.directdiv input{
    /* width: 80px; */
    height: 30px;
    border: 1px solid white;
    border-radius: 8px;
}

.searchDiv{
    display: flex;
    justify-content: space-between;
}

.directdiv table{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.directdiv thead{
    background-color: rgb(24, 24, 255);
}

.directdiv tbody{
    background-color:black;
}

.endName{
    /* color: rgb(58, 58, 240); */
    margin-top: 40px;
}