.profile_container{
    position: absolute;
    background-color: #22273d;
    margin-top: 7%;
    margin-left: 6%;
    width:93%;
    height:70%;
    border-radius: 5px;
}
.profile_title{
    color: #8698b1;
    margin-left:25px;
    margin-top: 2px;
}
.profile_form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:15px;
    height:50%;
}
.form_list{
    display:flex;
    flex-direction: row;
    gap:40px;
    margin-left:40px;
}
.form_title{
    width:200px;
    height:1.8rem;
    color:#8698b1;
    font-size:smaller;
}
.form_box{
    width:80%;
    height:1.8rem;
    background-color: #191e31;
    border: 1px solid #383d54;
    border-radius: 3px;
    color:#8698b1;
    font-size: smaller;
}
.text{
    margin-left: 0.6rem;
    margin-top:0.4rem;
}