

li{
    list-style: none;
}

.sidenaul{
    padding: 0;
}

.sidenaul li{
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.sidenaul a{
    display: inline-block;
    width: 100%;
    color: #aeb2b7;
    text-decoration: none;
    padding: 15px 0 15px 10px;
    font-size: 15px;
    transition: all 0.3s ease;
}

.sidenaul i{
    padding-right: 8px;
}

a:hover,a:active{
    outline: none;
}



.sidenaul li :hover, .sidenaul li:focus {
    color: #fff;
    background-color: #464f5a;
    text-decoration: none;
    outline: none;
}

.sidenaul li:hover i{
    color: blue
}

.plus{
    position: absolute;
    right: 10px;
    top: 15px;
}

.inside{
    margin-left: 5px;
    padding: 0;
}

.inside a{
    padding: 5px;
}

.inside a:nth-child(1){
    margin-top: 10px;
}

.none{
    display: none;
}



.logoa{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
}


.navDivHold{
    width: 100%;
    height: 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navDivHold i{
    font-size: 25px;
    color: #fff;
    margin-left: 8px;
}

.navDivHold p{
    margin: 0%;
    margin-bottom: 15px;
}

.pic{
    width: 80px;
    border: 1px solid gray;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: -30px;
    margin-bottom: 5px;
}

.logoName{
    color: #fff;
    margin-top: 0;
    margin-left: 15px;
}

.Iholder i{
    color: #fff;
    background-color: rgb(38, 38, 170);
    padding: 8px;
    border-radius: 50%;
}

.Iholder i:nth-child(3){
    color: red;
}

.sidebarRes{
    padding-top: 5px;
    color: #fff;
    z-index: 10;
    width: 80px;
    height: 100%;
    overflow-y: scroll;
    background-color: #2a3542;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* padding: 0; */
    align-items: center;
}

.sidebarRes::-webkit-scrollbar {
    width: 0px;
  }

.sidebarRes h3{
   margin-bottom: 40px;
}

.sidebarRes i{
    color: #fff;
}

.navpic{
    width: 50px;
    height: 50px;
}

.okul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.fdiv{
    margin-bottom: 20px;
}

.sidebarRes i{
    margin-bottom: 15px;
}

.fdiv i{
    display: block;
    margin-bottom: 10px;
}

.sidenav{
    transition: all 1s;
    width: 233px;
    height: 100%;
    position: absolute;
    top: 0;
    background: #2a3542;
    z-index: 10;
    overflow-y: scroll;
}

.leftSlide{
    left: -250px;
    transition: all 1s;
}

.hamburger{
    border-radius: 10px;
    transition: all 1s;
    position: absolute;
    z-index: 1000;
    top: 20px;
    left: 100px;
    padding: 2.5px 10px;
    color: #fff;
    font-size: 22px;
    background-color: rgb(64, 64, 180);
}

.sipe{
    left: 241px;
}

.sidebarRes p{
    font-size: 12px;
}

.fdiv i{
    background-color: rgb(64, 64, 180);
    padding: 8px;
    border-radius: 50%;
}

.fdiv i:nth-child(3){
    background-color: red;
}