.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 0;
  user-select: none;
  cursor: pointer;
}
.item-container--shrink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0;
  user-select: none;
  cursor: pointer;
}
.item {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  color: white;
}
.icon {
  margin-right: 0.5rem;
}
.subLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}
